{% extends 'ejemplo/base.html' %}
{% block titulo%} Buscar Familiares por nombre {% endblock %}
{% block contenido %}
      
    <form action="/mi-familia/buscar" method="post">
    {% csrf_token %}
    {{ form }}
        <input type="submit" value="Submit">
      </form>
    
    {% for familiar in lista_familiares %}
        <ul>
            <li> Nombre: {{familiar.nombre}}, Nacimiento: {{familiar.nacimiento}}, Documento: {{familiar.numero_documento}}</li>
        </ul>
    {% endfor %}
{% endblock %}
