<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis familiares</h1>

    {% for familiar in lista_familiares %}
        <ul>
            <li> Nombre: {{familiar.nombre}}, Fecha de nacimiento: {{familiar.nacimiento}}, Documento: {{familiar.numero_documento}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>